.container {
  background-color: #71F79F;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  gap: 100px;
}
.text {
  text-decoration: none;
  color: #513C2C;
  font-weight: bold;
  cursor: pointer;
}
.none {
  display: none;
}